.spollers-block {
	margin-top: 50px;
	&__item {
		color: $white !important;
		margin: 0px 0px 20px 0px;
		padding: 22px 32px;
		border: 2px solid $spollerBorder;
		border-radius: 10px;
		@media (max-width: $md3+px){
			padding: 23px 15px;
		}
		&:last-child {
			margin: 0px 0px 0px 0px;
		}
	}
	// .spollers-block__title
	&__title {
		color: $white;
		cursor: pointer;
		position: relative;
		font-size: 1.563rem;
		@media (max-width: $md3+px){
			font-size: 1.188rem;
		}
		@media (max-width: $md4+px){
			font-size: 1rem;
		}
		&::before {
			content: "";
			width: 17px;
			background-color: $buttonBorder;
			height: 2px;
			transition: transform 0.3s ease 0s;
			transform: translate(-25%,0) rotate(-133deg);
			position: absolute;
			right: 7px;
			top: 50%;
		}
		&::after {
			content: "";
			width: 17px;
			background-color: $buttonBorder;
			height: 2px;
			transition: transform 0.3s ease 0s;
			transform: translate(40%, 0%) rotate(133deg);
			position: absolute;
			right: 7px;
			top: 50%;
		}
		&._active {
			&::before {
				transform: translate(-25%, 0%) rotate(133deg);
				right: 9px;
			}
			&::after {
				transform: translate(25%, 0%) rotate(-133deg);
			}
		}
	}
	// .spollers-block__body
	&__body {
		display: none;
		margin-top: 20px;
		p{
			font-size: 1.25rem;
			margin-top: 20px;
			line-height: 30px;
			border-top: 2px solid $gray3;
			@media (max-width: $md3+px){
				font-size: 1rem;
			}
			@media (max-width: $md4+px){
				font-size: 0.8rem;
				line-height: 25px;
			}
			&:nth-child(1){
				padding-top: 20px;
			}
			&:nth-child(2){
				border: none;
			}
			&:nth-child(3){
				border: none;
			}
		}
	}

}

