$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1664;
$md1: $maxWidthContainer + 12;
$md2: 1050;
$md3: 767.98;
$md4: 479.98;

$text: #1B2229;
$black: #000000;
$facebook: #3B5998;
$google: #05ACE0;

$borderColor: rgba(0, 0, 0, 0.2);
$borderColor2: #BDBDBD;
$borderColor3: rgba(189, 189, 189, 0.5);
$white: #ffffff;
$buttonBorder: #76BDFF;
$darkBg: #1B2229;
$text: #1B1B1B;
$gray2: #4F4F4F;
$gray3: #828282;
$decorColor: rgba(255, 255, 255, 0.2);
$buttonBg: rgba(255, 255, 255, 0.03);
$spollerBorder: rgba(255, 255, 255, 0.5);
$border4: rgba(255, 255, 255, 0.1);
$tradeBg: #EEF3F6;
$red: #EB5757;
$green3: #6FCF97;
$green2: #8CFFBC;
$darkBg2: #222931;
$violet: #715BDF;
$bg3: #EEF3F6;
$bg4: #BA4838;
$red2: #CC6767;
$bg5: #171717;
$medal: #EC9C41;
$bolt: #1F3FB0;
$mountains: #BB6BD9;
$api1: #cb8445;
$api3: #b4d7eb;
$api2: #5786b2;
$tableBg: #F9F9FB;
$tableBg2: rgba(167, 213, 255, 0.2);
$tableColor1: #EBD7C1;
$tableBg3: rgba(118, 189, 255, 0.1);
$tableColor2: #A2DEBB;
$crossColor: rgba(0, 0, 0, 0.3);

$headerHeight: 102px;