<footer class="footer">
	<div class="container">
		<div class="footer__content">
			<div class="footer__grid">
				<div class="footer__left">
					<h2>Stay up to date on all the latest <b class="text-bold">Quantitatives</b> news</h2>
					<p>Our newsletters are a concentrated blast of all the latest from Quantitatives: news, events, product
						information, and more.
					</p>
				</div>
				<div class="footer__right">
						<div class="footer__item">
							<h3>Quantitatives</h3>
							<li><a href="index.html">Home</a></li> 
							<li><a href="#">Events</a></li>
							<li><a href="#">News</a></li>
							<li><a href="#">Services</a></li>
							<li><a href="#">Sustainability</a></li>
						</div>
						<div class="footer__item">
							<h3>About Us</h3>
							<li><a href="#">Support</a></li>
							<li><a href="#">Recall Informations</a></li>
							<li><a href="#">Media</a></li>
							<li><a href="#">Cookies</a></li>
							<li><a href="privacy-policy.html">Privacy</a></li>
							<li><a href="#">Legal</a></li>
						</div>
						<div class="footer__item">
							<h3>Discover More</h3>
							<li><a href="download" class="anchor">Download App</a></li>
							<li><a href="#">Careers</a></li>
							<li><a href="faq" class="anchor">FAQ</a></li>
							<li><a href="pricing-plans.html">Shops</a></li>
							<li><a href="pricing-plans.html">Discounts</a></li>
						</div>
						<div class="footer__item">
							<h3>Social</h3>
							<li><a href="#">Facebook</a></li>
							<li><a href="#">Instagram</a></li>
							<li><a href="#">YouTube</a></li>
							<li><a href="#">Community</a></li>
						</div>
				</div>
			</div>
			<div class="footer__cory-right">
				<p>Quantitatives © 2022 All rights reserved</p>
				<p>Change Language: English <i class="far fa-arrow-right"></i></p>
			</div>
		</div>
	</div>
</footer>

<script src="js/script.min.js?v=1.0.8"></script>
</div>
</body>

</html>