<header class="header">
	<a href="index.html" class="header__logo">
		<img class="logo1" src="img/logo.svg" alt="logo">
		<img src="img/logo2.svg" alt="logo" class="logo2">
	</a>
	<div class="header-menu-wrapp">
		<ul class="header__menu">
			<li><a href="#" class="header__menu-link anchor">Our Products</a></li>
			<li><a href="#" class="header__menu-link anchor">Developers</a></li>
			<li><a href="#" class="header__menu-link">Integrations</a></li>	
			<li><a href="pricing-plans.html" class="header__menu-link">Pricing</a></li>
			<li><a href="blog-posts.html" class="header__menu-link">Community</a></li>
			<li><a href="log-in.html" class="header__menu-link">Log In</a></li>
			<a href="sign-up.html" class="button">Sign Up<i class="fas fa-arrow-up"></i></a>
			<!-- <li>
				<a href="#" class="header__menu-link">Item Select</a>
				<span class="menu__arrow"></span>
				<ul class="menu__sub-list">
					<li><a href="#" class="menu__sub-link">Sub Item Select 2</a></li>
					<li><a href="#" class="menu__sub-link">Sub Item Select 3</a></li>
				</ul>
			</li> -->
		</ul>
		<div class="icon-menu-wrapp">
			<div class="icon-menu"><span></span></div>
		</div>
		<a href="sign-up.html" class="button header-button">Sign Up<i class="fas fa-arrow-up"></i></a>
	</div>	
</header>