.blogs-title{
    background-color: $buttonBorder;
    padding: 87px 0 87px 0;
    color: $white;
    @media (max-width: $md3+px){
        text-align: center;
        padding: 50px 0 50px 0;
        p{
            font-size: 1rem;
        }
        h2{
            font-size: 1.875rem;
        }
    }
    h2{
        font-weight: 700;
        font-size: 3.75rem;
    }
    p{
        font-size: 1.25rem;
        margin-top: 10px;
    }
}

.posts{
    background-color: $tradeBg;
    &__first-post{
        display: grid;
        grid-template-columns: 1fr 0.4fr;
        grid-gap: 50px;
        align-items: center;
        padding: 100px 0 100px 0;
        @media (max-width: $md2+px){
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 20px;
            padding: 50px 0 50px 0;
            h3{
                font-size: 1.563rem;
            }
        }
        @media (max-width: $md3+px){
            grid-template-columns: repeat(1, 1fr);
            padding: 40px 0 40px 0;
            h3{
                font-size: 1.25rem;
            }
            p{
                font-size: 1rem;
            }
        }
    }
    &__right{
        h4{
            color: $buttonBorder;
            font-size: 1.25rem;
        }
        h3{
            font-size: 2.188rem;
            font-weight: 700;
            margin-top: 20px;
        }
        p{
            font-size: 1.25rem;
            color: $gray2;
            margin-top: 20px;
            max-width: 415px;
        }
    }
    &__grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 42px;
        padding-bottom: 100px;
        @media (max-width: $md2+px){
            overflow-y: hidden;
            overflow-x: auto;
            grid-template-columns: repeat(6, 1fr);
            padding-bottom: 50px;
        }
        @media (max-width: $md3+px){
            padding-bottom: 40px;
        }
    }
    &__item{
        @media (max-width: $md2+px){
            width: 540px;
        }
        @media (max-width: $md3+px){
            width: 332px;
        }
        h4{
            color: $buttonBorder;
            font-size: 1.25rem;
            margin-top: 20px;
        }
        h3{
            font-size: 1.875rem;
            font-weight: 700;
            margin-top: 10px;
            @media (max-width: $md3+px){
                font-size: 1.25rem;
            }
        }
        p{
            font-size: 1.25rem;
            color: $gray2;
            margin-top: 10px;
            @media (max-width: $md3+px){
                font-size: 1rem;
            }
        }
    }
}

.post-button{
    display: inline-block;
    margin-top: 20px;
    border: 2px solid $buttonBorder;
    background-color: transparent;
    font-weight: 400;
    color: $text;
    .fal.fa-arrow-right{
        font-size: 1rem;
        margin: auto 0 auto 8px;
        color: $buttonBorder;
    }
    &:hover{
        .fal.fa-arrow-right{
            color: $white;
        }
    }
    @media (max-width: $md3+px){
        width: 100%;
        text-align: center;
    }
}