.contact-sales{
    &__content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        min-height: calc(100vh - $headerHeight);
        overflow: hidden;
        @media (max-width: $md1+px){
            min-height: initial;
        }
        @media (max-width: 1300px){
            grid-template-columns: repeat(1, 1fr);
        }
    }
    &__left{
        display: flex;
        align-items: center;
        background-color: $text;
        color: $white;
        height: 100%;
        @media (max-width: 1300px){
            padding: 255px 0 255px 0;
        }
        @media (max-width: $md3+px){
            padding: 54px 0 54px 0;
        }
        h2{
            font-size: 3.75rem;
            font-weight: 700;
            @media (max-width: $md3+px){
                font-size: 1.875rem;
            }
        }
        p{
            font-size: 1.25rem;
            margin-top: 20px;
            @media (max-width: $md3+px){
                font-size: 1rem;
            }
        }
        li{
            margin-top: 20px;
            text-indent: 10px;
            font-size: 1.25rem;
            @media (max-width: $md3+px){
                font-size: 1rem;
            }
        }
        h3{
            margin-top: 20px;
            font-size: 1.25rem;
            @media (max-width: $md3+px){
                font-size: 1rem;
            }
        }

    }
    &__button-left{
        display: inline-block;
        background-color: $white;
        border: 2px solid $buttonBorder;
        margin-top: 20px;
        color: $text;
    }
    &__right{
        padding: 63px 0;
        background-color: $bg3;
        height: 100%;
        @media (max-width: 1300px){
            padding: 83px 0 83px 0;
        }
        @media (max-width: $md2+px){
            padding: 83px 0 83px 0;
        }
        @media (max-width: $md3+px){
            padding: 36px 0 36px 0;
        }
        h3{
            font-size: 1.875rem;
            font-weight: 700;
            @media (max-width: $md3+px){
                font-size: 1.563rem;
            }
        }
        p{
            margin-top: 10px;
            font-size: 1.25rem;
            @media (max-width: $md3+px){
                font-size: 1rem;
            }
        }
        input{
            display: block;
            width: 100%;
            margin-top: 10px;
            padding: 16px 32px;
            border-radius: 10px;
            border: 1px solid $borderColor2;
            font-size: 1.25rem;
            @media (max-width: $md3+px){
                padding: 16px 15px;
                font-size: 1.1rem;
            }
        }
        .select-wrapper{
            position: relative;
            i{
                position: absolute;
                top: 8%;
                right: 4%;
                color: $text;
                opacity: 0.4;
            }
        }
        select{
            width: 100%;
            margin-top: 10px;
            padding: 16px 32px;
            border-radius: 10px;
            border: 1px solid $borderColor2;
            font-size: 1.25rem;
            appearance: none;
            color: $gray3;
            @media (max-width: $md3+px){
                padding: 16px 15px;
                font-size: 1.1rem;
            }
        }
        textarea{
            width: 100%;
            margin-top: 10px;
            padding: 16px 32px;
            border-radius: 10px;
            border: 1px solid $borderColor2;
            min-height: 186px;
            font-size: 1.25rem;
            @media (max-width: $md3+px){
                padding: 16px 15px;
                font-size: 1.1rem;
            }
        }
    }
    &__button-right{
        margin-top: 30px;
        display: inline-block;
        background-color: $buttonBorder;
        color: $white;
        @media (max-width: $md3+px){
            width: 100%;
            text-align: center;
        }
    }
}

.concact-faq{
	h2{
		color: $text;
	}
	p{
		color: $text;
	}
	background-color: $white;
	.spollers-block{
		&__item{
			color: $text !important;
			border: 1px solid $gray2;
		}
		&__title{
			color: $text;
		}
	}
}