.hero-section{
	&__content{
		display: grid;
        grid-template-columns: repeat(2, 1fr);
        background-color: $darkBg;
        align-items: center;
        min-height: calc(100vh - $headerHeight);
        overflow: hidden;
        @media (max-width: $md1+px){
            min-height: initial;
        }
        @media (max-width: 1300px){
            grid-template-columns: repeat(1, 1fr);
        }
	}
    &__left{
        @media (max-width: 1300px){
            grid-row: 2;
            padding: 100px 0 100px 0;
        }
        color: $bg3;
        h2{
            font-size: 3.125rem;
            font-weight: 400;
            max-width: 705px;
        }
        p{
            max-width: 622px;
            margin-top: 10px;
            font-size: 1.25rem;
        }
        @media (max-width: $md3+px){
            padding: 29px 0 29px 0;
            text-align: center;
            h2{
                font-size: 2.188rem;
            }
            p{
                font-size: 1rem;
                max-width: 100%; 
            }
        }
    }
    &__right{
        @media (max-width: 1300px){
            grid-row: 1;
        }
    }
    &__button{
        display: inline-flex;
        background-color: $buttonBorder;
        color: $text;
        margin-top: 25px;
        &:hover{
            background-color: $white;
            border-color: transparent;
            color: $text;
        }
    }
    &__photos{
        display: flex;
        justify-content: flex-start;
        margin-top: 150px;
        @media (max-width: 1300px){
            margin-top: 50px;
        }
        img{
            max-width: 275px;
        }
        @media (max-width: $md3+px){
            display: block;
        }
    }
}

.photos-text{
    margin: auto 0 auto 0;
    p{
        margin: auto 0 5px 0;
    }
    :nth-child(1){
        font-size: 1.25rem;
    }
    :nth-child(2){
        margin-bottom: 0;
        color: $gray3;
        font-size: 1.125rem;
    }
}

.text-bold{
    color: $buttonBorder;
    font-weight: 900;
}

.border{
    width: 1px;
    height: 50px;
    background-color: $decorColor;
    margin: auto 30px auto 50px;
    @media (max-width: $md3+px){
        width: 100%;
        height: 1px;
        margin: 10px 0 10px 0;
    }
}

.bubble-message{
    &:hover{
        .number{
            color: linear-gradient(90.58deg, #EC526E 0.01%, #EC593D 99.9%);
        }
    }
}

.trading-way{
    background-color: $tradeBg;
    &__content{
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(2, 1fr);
        padding: 150px 0 150px 0;
        align-items: center;
        @media (max-width: $md2+px){
            display: block;
            padding: 120px 0 120px 0;
            h2{
                text-align: center; 
            }
        }
        @media (max-width: $md3+px){
            h2{
                font-size: 2.188rem;
           }
            p{
                font-size: 1rem;
            }
        }
        h2{
            font-size: 3.125rem;
            font-weight: 400;
        }
        p{
            margin: 0 auto 0 auto;
            font-size: 1.25rem;
            max-width: 796px;
            @media (max-width: $md2+px){
                margin: 20px auto 0 auto;
            }
            @media (max-width: $md3+px){
                text-align: center;
            }
        }
    }
}

.powerful{
    background-color: $darkBg;
    padding: 200px 0 150px 0;
    @media (max-width: 1300px){
        padding: 100px 0 100px 0;
    }
    @media (max-width: $md2+px){
        display: none;  
    }
    &__content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 100px;
        @media (max-width: 1300px){
            display: block;
            text-align: center;
        }
    }
    &__left{
        @media (max-width: 1300px){
            display: none;
        }
    }
    &__right{
        margin-top: 32px;
        h2{
            font-size: 3.125rem;
            color: $white;
            max-width: 692px;
            @media (max-width: 1300px){
                max-width: 100%;
            }
        }
        p{
            font-size: 1.25rem;
            color: $white;
            max-width: 692px;
            margin-top: 10px;
            @media (max-width: 1300px){
                max-width: 100%;
            }
        }
    }
    .right-buttons{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 50px;
        grid-gap: 20px;
        .fa-duotone.fa-command{
            color: $buttonBorder;
            margin-right: 25px;
        }
        .fad.fa-photo-video{
            color: $buttonBorder;
            margin-right: 25px;
        }
        .fad.fa-code{
            color: $buttonBorder;
            margin-right: 25px;
        }
        .fad.fa-hashtag{
            color: $buttonBorder;
            margin-right: 25px;
        }
        a{
            padding: 22px 46px;
            border-radius: 10px;
            color: $white;
            font-size: 1.563rem;
            background-color: $buttonBg;
            white-space: nowrap;
        }
    }
}

.trading-data{
    .slide-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        @media (max-width: $md2+px){
            grid-template-columns: repeat(1, 1fr);
        }
        &__left{
            @media (max-width: $md2+px){
                padding: 150px 0 150px 0;
            }
            @media (max-width: $md3+px){
                padding: 93px 0 93px 0;
                h2{
                    font-size: 2.188rem;
                }
                p{
                    font-size: 1rem;
                }
            }
            h2{
                font-size: 3.125rem;
            }
            p{
                font-size: 1.25rem;
                margin-top: 10px;
                max-width: 664px;
            }
        }
    }
    .swiper-pagination{
        margin-top: 30px;
    }
    .swiper-pagination-bullet{
        cursor: pointer;
        display: inline-block;
        transition: 0.5s ease all;
        height: 10px;
        width: 10px;
        background-color: $darkBg;
        opacity: 0.2;
        margin-right: 20px;
        border-radius: 100px;
    }
    .swiper-pagination-bullet-active{
        width: 24px;
        background-color: $buttonBorder;
        opacity: 1;
    }
}

.why{
    background-color: $tradeBg;
    padding: 150px 0 150px 0;
    @media (max-width: $md3+px){
        padding: 36px 0 36px 0;
    }
    h2{
        font-size: 3.125rem;
        text-align: center;
        @media (max-width: $md3+px){
            font-size: 2.1875rem;
        }
    }
    .why-slider__wrapper{
        display: grid !important;
        grid-template-columns: repeat(4, 1fr);
        margin-top: 50px;
        grid-gap: 15px;
        @media (max-width: $md2+px){
            grid-template-columns: repeat(2, 1fr);
        }   
        @media (max-width: 600px){
            display: flex !important;
            grid-gap: 0;
        }  
    }
    .why-slider__slide{
        padding: 56px 38px;
        background-color: $white;
        border-radius: 10px;
        text-align: center;
        transition: .5s ease all;
        width: 100% !important;
        &:hover{
            background-color: $buttonBorder;
            .fad.fa-people-arrows{
                &::before{
                    color: $white;
                }
            }
            .fad.fa-users{
                &::before{
                    color: $white;
                }
            }
            .fad.fa-briefcase{
                &::before{
                    color: $white;
                }
            }
            .fa-duotone.fa-puzzle{
                &::before{
                    color: $white;
                }
            }
            h3{
                color: $white;
            }
            p{
                color: $white;
            }
        }
        .fad.fa-people-arrows{
            font-size: 6.9375rem;
            &::before{
                color: $buttonBorder;
            }
        }
        .fad.fa-users{
            font-size: 6.9375rem;
            &::before{
                color: $buttonBorder;
            }
        }
        .fad.fa-briefcase{
            font-size: 6.9375rem;
            &::before{
                color: $buttonBorder;
            }
        }
        .fa-duotone.fa-puzzle{
            font-size: 6.9375rem;
            &::before{
                color: $buttonBorder;
            }
        }
        h3{
            font-size: 1.875rem;
            font-weight: 700;
            margin-top: 25px;
        }
        p{
            font-size: 1.25rem;
            margin-top: 5px;
            color: $gray2;
        }
    }
}

.swiper-pagination-fraction{
    text-align: center;
    font-size: 1.25rem;
    margin-top: 5px;
}

.percents{
    padding: 100px 0 100px 0;
    background-color: $buttonBorder;    
    &__content{
        :nth-child(5){
            @media (max-width: $md3+px){
                grid-column: span 2;
            }
        }
        text-align: center;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 100px;
        @media (max-width: 1300px){
            grid-gap: 50px;
            grid-template-columns: repeat(3, 1fr);
        }
        @media (max-width: $md3+px){
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 17px;
        }
    }
    &__item{
        @media (max-width: 1500px){
            h2{
                font-size: 3.125rem;
            }
        }
        h2{
            font-size: 4rem;
            font-weight: 900;
            color: $white;
            margin-bottom: 10px;
        }
        p{
            font-size: 1.125rem;
        }
    }
}


.about{
    padding: 162px 0 162px 0;
    @media (max-width: $md3+px){
        padding: 43px 0 43px 0;
    }
}

.partners{
    background-color: $tradeBg;
    padding: 150px 0 150px 0;
    @media (max-width: $md3+px){
        padding: 43px 0 43px 0;
    }
    &__content{
        h2{
            font-size: 3.125rem;
            font-weight: 400;
            text-align: center;
            @media (max-width: $md3+px){
                font-size: 2.1875rem;
            }
        }
    }
    &__img-wrapper{
        @media (max-width: $md3+px){
            text-align: center;
            margin-bottom: 30px;
        }
    }
    &__logos{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 88px;
        margin-top: 70px;
        justify-items: center;
        img{
            max-width: 310px;
        }
        @media (max-width: $md2+px){
            grid-template-columns: repeat(2, 1fr);
            grid-row-gap: 50px;
            :nth-child(5){
                grid-column: span 2;
            }
        }
        @media (max-width: $md3+px){
            display: block;
            margin-top: 50px;
            :nth-child(5){
                margin-bottom: 0;
            }
            img{
                max-width: 182px;
            }
    }
  }
}

.what-platform-makes{
    padding: 106px 0 106px 0;
    @media (max-width: $md2+px){
        padding: 50px 0 50px 0;
    }
    &__content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-items: flex-end;
        grid-gap: 80px;
        @media (max-width: $md2+px){
            grid-template-columns: repeat(1, 1fr);
            justify-items: center;
        }
        @media (max-width: $md4+px){
            grid-gap: 50px;
        }
    }
    &__left{
        padding: 30px;
        @media (max-width: $md2+px){
            grid-row: 2;
            padding: 0;
        }
        h3{
            font-size: 1.25rem;
            color: $text;
            opacity: 0.5;
        }
        h2{
            font-size: 3.125rem;
            margin-top: 20px;
            max-width: 391px;
            @media (max-width: $md4+px){
                font-size: 1.5625rem;
            }
        }
        p{
            margin-top: 20px;
            font-size: 1.25rem;
            @media (max-width: $md2+px){
                max-width: 867px;
            }
            @media (max-width: $md4+px){
                font-size: 1rem;
            }
        }
        h4{
            font-size: 1.5625rem;
            margin-top: 20px;
            font-weight: 700;
        }
    }
    &__right{
        img{
            border-radius: 20px;
        }
        @media (max-width: $md2+px){
            grid-row: 1;
        }
    }
}

.benefits{
    padding: 100px 0 100px;
    background-color: $tradeBg;
    img{
        border-radius: 20px;
    }
    @media (max-width: $md2+px){
        padding: 50px 0 50px 0;
    }
    .what-platform-makes__left{
        h3{
            margin-top: 50px;
            @media (max-width: $md2+px){
                margin-top: 80px;
            }
            @media (max-width: $md3+px){
                margin-top: 50px;
            }
        }
        h2{
            max-width: 100%;
        }
        p{
            max-width: 1433px;
        }
    }
}

.simple-api{
    padding: 164px 0 164px;
    background-color: $text;
    color: $bg3;
    @media (max-width: 1300px){
        padding: 105px 0 105px 0;
    }
    @media (max-width: $md3+px){
        padding: 50px 0 50px 0;
    }
    &__grid{
        display: flex;
        justify-content: space-between; 
        @media (max-width: 1300px){
            display: block;
        }
    }
    &__left{
        h2{
            font-size: 3.125rem;
            max-width: 615px;
            @media (max-width: $md3+px){
                font-size: 2.188rem;
                text-align: center;
            }
        }
    }
    &__right{
        margin: auto 0 auto 0;
        font-size: 1.25rem;
        max-width: 594px;
        @media (max-width: 1300px){
            margin-top: 50px;
        }
        @media (max-width: $md3+px){
            font-size: 1rem;
            text-align: center;
            margin-top: 25px;
        }
    }
    &__code{
        display: flex;
        justify-content: center;
        margin-top: 50px;
        @media (max-width: $md3+px){
            margin-top: 25px;
        }
    }
    &__code-wrapper{
        padding: 50px;
        border-radius: 10px;
        background-color: $darkBg2;
        border: 1px solid $buttonBorder;
        @media (max-width: 1300px){
            padding: 25px;
        }
        pre{
            @media (max-width: $md3+px){
                max-width: 500px;
            }
            @media (max-width: $md4+px){
                max-width: 320px;
            }
            @media (max-width: 385px){
                max-width: 260px;
            }
        }
        code{
            font-size: 1.5625rem;
            @media (max-width: 1300px){
                font-size: 1rem;
            }
            @media (max-width: $md3+px){
                font-size: 0.9rem;
            }
        }
    }
    .copy-button{
        float: right;
        background-color: transparent;
        font-size: 1rem;
        color: $bg3;
        .fad.fa-copy{
            color: $buttonBorder;
            font-size: 1.25rem;
            margin: auto 5px auto 0;
        }
    }
    &__button-wrapp{
        text-align: center;
        margin-top: 40px;
    }
    &__button{
        border: 2px solid $buttonBorder;
        background-color: transparent;
        display: inline-block;
        color: $bg3;
    }
}

.mobile-br{
    display: none;
    @media (max-width: $md3+px){
        display: block;
    }
}

.mobile-br2{
    display: none;
}

.text-api1{
    color: $api1;
    white-space: nowrap;
}

.text-api2{
    color: $api2;
    white-space: nowrap;
}

.text-api3{
    color: $api3;
    white-space: nowrap;
}

.fas.fa-arrow-up{
    transform: rotate(33deg);
    font-size: 1rem;
    margin-left: 11px;
    margin-top: 4px;
    @media (max-width: $md2+px){
        margin-top: 1px;
    }
}

.api-title{
    text-align: center;
    font-size: 3.125rem;
    margin-top: 150px;
    @media (max-width: $md3+px){
        font-size: 2.188rem;
        margin-top: 100px;
    }
}

.coin-slider {
    margin-top: 150px;
    @media (max-width: 1300px){
        margin-top: 130px;
    }
    @media (max-width: $md3+px){
        margin-top: 100px;
    }
    &__slide{
        @media (max-width: $md2+px){
            margin-right: 50px;
            &:last-child{
                margin-right: 0;
            }
        }
        @media (max-width: $md3+px){
            margin-right: 150px;
        }
    }
    &__content{
        img{
            max-width: 74px;
        }
        h2{
            font-size: 2.5rem;
            font-weight: 900;
            margin-top: 12px;
        }
        h4{
            font-size: 1.25rem;
            margin-top: 10px;
        }
    }
    &__currency{
        display: flex;
        justify-content: flex-start;
        margin-top: 12px;
        h3{
            font-size: 1.25rem;
            color: $gray3;
            margin: auto 0 auto 0;
        }
        p{
            padding: 5px 10px;
            border-radius: 500px;
            margin-left: 5px;
            font-size: 1rem;    
        }
    }
}

.p-red.white{
    color: $white;
}

.p-red{
    background-color: $red;
}

.p-green{
    background-color: $green3;  
}

.last-slide{
    margin-right: 0;
}

.testimonials{
    padding: 150px 0 150px 0;
    @media (max-width: 1300px){
        padding: 75px 0 75px 0;
    }
    @media (max-width: $md3+px){
        padding: 25px 0 50px 0;
    }
    &__content{
        h2{
            font-size: 3.125rem;
            text-align: center;
            @media (max-width: $md3+px){
                font-size: 2.188rem;
            }
        }
        p{
            margin-top: 10px;
            text-align: center;
            font-size: 1.25rem;
            @media (max-width: $md3+px){
                font-size: 1rem;
            }
        }
    }
    .testimonials-slider__wrapper{
        display: grid !important;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 40px;
        margin-top: 50px;
        @media (max-width: 1300px){
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 10px;
        }
        @media (max-width: $md3+px){
            display: block;
        }
        @media (max-width: 600px){
            display: flex !important;
            grid-gap: 0;
        }
    }
    &__item{
        padding: 89px 50px;
        border-radius: 20px;
        border: 1px solid $borderColor2;
        @media (max-width: $md3+px){
            margin-bottom: 15px;
            text-align: center;
            padding: 47px 52px;
        }
        h3{
            font-size: 1.875rem;
            font-weight: 700;
            @media (max-width: $md3+px){
                font-size: 1.563rem;
            }    
        }
        p{
            text-align: left;
            @media (max-width: $md3+px){
                text-align: center;
            }
        }
        .user-photo{
            margin-top: 20px;
            display: flex;
            justify-content: flex-start;
            @media (max-width: $md3+px){
                justify-content: center;
                display: block;
            }
            img{
                width: 50px;
                height: 50px;
            }
        }
        .user-name{
            margin: auto 0 auto 10px;
            font-style: italic;
            @media (max-width: $md3+px){
                margin-top: 10px;
            }
            h3{
                font-size: 1.25rem;
            }
            p{
                margin-top: 0;
            }
        }
    }
}

.violet-item{
    background-color: $violet;
    border: transparent;
    color: $white;
}

.green-item{
    background-color: $green3;
    border: transparent;
    color: $white;
    @media (max-width: 1300px){
        grid-row: 3;
        grid-column: 1;
    }
}

.blue-item{
    background-color: $buttonBorder;
    border: transparent;
    color: $white;
    @media (max-width: 1300px){
        grid-row: 2;
        grid-column: 2;
    }
}

.download{
    background-color: $buttonBorder;
    padding: 139px 0 109px 0;
    text-align: center;
    @media (max-width: $md2+px){
        padding: 164px 0 164px 0;
    }
    @media (max-width: $md3+px){
        padding: 67px 0 0 0;
    }
    &__content{
        h2{
            font-size: 3.125rem;
            color: $white;
            font-weight: 700;
            @media (max-width: $md3+px){
                font-size: 1.875rem;
            }
        }
        p{
            margin-top: 10px;
            color: $white;
            font-size: 1.25rem;
            @media (max-width: $md3+px){
                font-size: 1rem;
            }
        }
    }
    .download-slider{
        margin-top: 37px;
        @media (max-width: $md2+px){
            margin-top: 75px;
        }
        @media (max-width: $md3+px){
            margin-top: 50px;
        }
        &__slide{
            position: relative;
            text-align: center;
        }
        .swiper-slide{
            opacity: 0.5;
            transform: scale(0.5);
            transition: 0.5s ease all;
            h3{
                visibility: hidden;
            }
            .download-slide__buttons{
                visibility: hidden;
            }
        }
        .swiper-slide-active{
            opacity: 1;
            transform: scale(1);
            h3{
                visibility: visible;
            }
            .download-slide__buttons{
                visibility: visible;
            }
        }
        .phone-slide{
            img{
                max-width: 400px;
            } 
            img{
                @media (max-width: $md3+px){
                    max-width: 250px;
                }
            }
        }
    }
    .download-slide__buttons-wrapper{
        margin-top: 37px;
        @media (max-width: $md2+px){
            margin-top: 75px;
        }
        @media (max-width: $md3+px){
            margin-top: 50px;
        }
        h3{
            color: $white;
            font-size: 1.875rem;
        }
    }
    .download-slide__buttons{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: flex-end; 
        margin-top: 0;
        margin-bottom: 30px;
        @media (max-width: $md3+px){
            margin-top: 20px;
        }
        .a-wrapper{
            :nth-child(3){
                margin-right: 0;
            }
            @media (max-width: $md3+px){
                display: grid;
                grid-gap: 20px;
                a{
                    margin-right: 0;
                }
            }
        }
        a{
            margin: auto 0 auto 0;
            padding: 16px 32px;
            border-radius: 10px;
            background-color: $white;
            color: $text;
            font-size: 1.15rem;
            margin-right: 20px;
            font-weight: 700;
            transition: 0.5s ease;
            border: 2px solid transparent;
            .far.fa-arrow-to-bottom{
                margin: auto 0 auto 5px;
            }
            &:hover{
                background-color: transparent;
                color: $white;
                border: 2px solid $white;
            }
        }
    }
    .download-slide__prev{
        font-size: 2rem;
        cursor: pointer;
        margin: 0 30px 23px 0;
        @media (max-width: $md3+px){
            margin: auto 25px auto 0;
        }
    }
    .download-slide__next{
        cursor: pointer;
        font-size: 2rem;
        margin: 0 0 23px 30px;
        @media (max-width: $md3+px){
            margin: auto 0 auto 25px;
        }
    }

    .swiper-button-disabled{
        opacity: 0.3;
    }
}

.pricing-plans{
    padding: 100px 0 100px 0;
    background-color: $bg3;
    @media (max-width: $md3+px){
        padding: 66px 0 66px 0;    
    }   
    h2{
        font-size: 3.125rem;
        @media (max-width: $md3+px){
            font-size: 1.875rem;
            text-align: center;
        }
    }
    p{
        font-size: 1.25rem;
        max-width: 769px;
        margin-top: 10px;
        @media (max-width: $md3+px){
            font-size: 1rem;
            text-align: center;
        }
    }
    &__grid{
        display: grid;
        margin-top: 40px;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 44px;
        padding-bottom: 100px;
        border-bottom: 2px solid $borderColor2;
        @media (max-width: $md2+px){
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 10px;
        }
        @media (max-width: $md3+px){
            padding-bottom: 0;
            border-bottom: none;
        }
    }
    &__item{
        &:nth-child(1){
            background-color: $buttonBorder;
        }
        &:nth-child(2){
            background-color: $bg4;
            color: $white;
            a{
                color: white;   
            }
            h3{
                color: $white;
            }
        }
        &:nth-child(3){
            background-color: $green3;
        }
        &:nth-child(4){
            background-color: $bg5;
            color: $white;
            a{
                color: $white;
            }
            h3{
                color: $white;
            }
        }
        padding: 32px 25px;
        h4{
            margin-top: 44px;
            font-size: 1.563rem;
            opacity: 0.7;
            @media (max-width: $md3+px){
                font-size: 1.25rem;
            }
        }
        p{
            max-width: 686px;
            font-size: 1.25rem;
            margin: 20px 0 44px 0;
            @media (max-width: $md3+px){
                font-size: 1rem;
                text-align: left;
            }
        }
    }
    &__item-wrapper{
        display: flex;
        justify-content: space-between;
        @media (max-width: $md3+px){
            h2{
                font-size: 1.25rem;
            }
        }
        .fad.fa-arrow-down{
            font-size: 1.25rem;
        }
        h2{
            font-size: 1.875rem;
            font-weight: 700;
            i{
                margin-right: 15px;
            }
        }
        h3{
            padding: 10px;
            border-radius: 10px;
            font-weight: 700;
            font-size: 1.25rem !important;
            color: $text;
            margin: auto 0 auto 0 !important;
            background: $decorColor;
            @media (max-width: $md3+px){
                font-size: 1rem;
            }
        }
        a{
            font-size: 1.563rem;
            font-weight: 700;
            color: $text;
            @media (max-width: $md3+px){
                font-size: 1.25rem;
            }
        }
    }
    h3{
        margin-top: 50px;
        font-size: 1.875rem;
        font-weight: 700;
        @media (max-width: $md3+px){
            display: none;
        }
    }
    &__about-plans{
        margin-top: 75px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 49px;
        @media (max-width: 1300px){
            grid-gap: 34px;
            grid-template-columns: repeat(2, 1fr);
            justify-items: center;
        }
        @media (max-width: $md3+px){
            grid-template-columns: repeat(1, 1fr);
            margin-top: 20px;
            grid-gap: 40px;
        }
    }
    &__about-item{
        h3{
            margin-top: 15px;
            font-size: 1.563rem;
            @media (max-width: $md3+px){
                font-size: 1.25rem;
            }
        }
        p{
            font-size: 1.25rem;
            max-width: 424px;
            margin-top: 10px;
            @media (max-width: $md3+px){
                text-align: left;
                font-size: 1rem;
            }
        }
        i{
            font-size: 1.563rem;
        }
        .fad.fa-medal{
            color: $medal;
        }
        .fad.fa-balance-scale{
            color: $buttonBorder;
        }
        .fa-duotone.fa-shield{
            color: $green3;
        }
        .fas.fa-bolt{
            color: $bolt;
        }
        .fad.fa-mountains{
            color: $mountains;
        }
        .fad.fa-layer-group{
            color: $red;
        }   
    }
}

.get-started{
    padding: 88px 0 88px 0;
    background-color: $buttonBorder;
    text-align: center;
    @media (max-width: $md3+px){
        padding: 81px 0 81px 0;
    }
    h2{
        font-size: 3.125rem;
        @media (max-width: $md3+px){
            font-size: 2.188rem;
        }
    }
    p{
        margin: 20px auto 0 auto;
        font-size: 1.25rem;
        max-width: 769px;
        color: $white;
    }
    .button{
        background-color: $white;
        margin-top: 20px;
        border: 2px solid transparent;
        &:hover{
            background-color: $buttonBorder;
            border: 2px solid $white;
            color: $white;
        }
    }
}

.education{
    padding: 150px 0 150px 0;
    text-align: center;
    @media (max-width: $md3+px){
        padding: 25px 0 25px 0;
    }
    h2{
        font-size: 3.125rem;
        @media (max-width: $md3+px){
            font-size: 2.188rem;
        }
    }
    p{  
        margin-top: 10px;
        font-size: 1.25rem;
        @media (max-width: $md3+px){
            font-size: 1rem;
        }
    }
    &__content{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 50px;
        margin-top: 60px;
        @media (max-width: $md2+px){
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 20px;
        }
        @media (max-width: $md3+px){
            grid-template-columns: repeat(1, 1fr);
            margin-top: 25px;
        }
    }
    &__item{
        padding: 10px;
        text-align: left;
        h3{
            font-size: 1.563rem;
            margin-top: 20px;
            font-weight: 700;
        }
        p{
            font-size: 1.25rem;
            color: $gray2;
            margin-top: 20px;
        }
    }
}

.faq{
    padding: 150px 0 150px 0;
    background-color: $darkBg;
    @media (max-width: $md2+px){
        padding: 95px 0 95px 0;
    }
    @media (max-width: $md3+px){
        padding: 30px 0 30px 0;
    }
    &__content{
        text-align: center;
        h2{
            font-size: 3.125rem;
            color: $white;
        }
        p{
            margin: 20px auto 0 auto;
            color: $white;
            font-size: 1.25rem;
            max-width: 1001px;
            @media (max-width: $md3+px){
                font-size: 1rem;
                max-width: 350px;
            }
        }
    }
}

.blog{
    padding: 100px 0 100px 0;
    h2{
        text-align: center;
        font-size: 3.125rem;
    }
    &__content{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 42px;
        margin-top: 50px;
        @media (max-width: $md2+px){
            overflow-x: auto;
            overflow-y: hidden;
            grid-template-columns: repeat(3, 540px);
        }
        @media (max-width: $md4+px){
            grid-template-columns: repeat(3, 345px);
        }
    }
    h4{
        color: $buttonBorder;
        font-size: 1.25rem;
        margin-top: 20px;
    }
    h3{
        font-size: 1.875rem;
        max-width: 540px;
        font-weight: 700;
        margin-top: 10px;
    }
    p{
        font-size: 1.25rem;
        max-width: 540px;
        margin-top: 10px;
    }
    &__button-wrapper{
        text-align: center;
        margin-top: 25px;
        a{
            background-color: $white;
            &:hover{
                background-color: $buttonBorder;
                color: $white;
            }
        }
    }
}

