.log-in{
    &__links{
        display: flex;
        justify-content: space-between;
        @media (max-width: $md3+px){
            display: block;
            a{
                margin-top: 10px;
            }
            @media (max-width: $md4+px){
                a{
                    font-size: 1.1rem;
                }    
            }
        }
        a{
            margin-top: 30px;
            color: $gray3;
            font-size: 1.25rem;
        }
    }
    .forgot-password__left{
        :nth-child(4){
            margin-top: 20px;
        }
    }
    &__button{
        padding: 16px 80px;
        display: inline-block;
        background-color: $buttonBorder;
        margin-top: 30px;
        color: $white;
        border: 2px solid transparent;
        width: fit-content;
        @media (max-width: $md3+px){
            width: 100%;
            text-align: center;
        }
        &:hover{
            background-color: $white;
            color: $buttonBorder;
            border: 2px solid $buttonBorder;
        }
    }
}