.footer{
    padding: 130px 0 130px 0;
    background-color: $darkBg;
    color: $white;
    @media (max-width: $md3+px){
        display: none;
    }
    &__grid{
        display: grid;
        grid-template-columns: 0.5fr 1fr;
        grid-gap: 100px;
        @media (max-width: $md2+px){
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 50px;
        }
    }
    &__left{
        h2{
            font-size: 2.5rem;
            max-width: 505px;
            font-weight: 600;
            @media (max-width: $md2+px){
                max-width: none;
            }
        }
        p{
            margin-top: 10px;
            font-size: 1.25rem;
            max-width: 428px;
            @media (max-width: $md2+px){
                max-width: none;
            }
        }
    }
    &__right{
        display: flex;
        justify-content: space-between;
        h3{
            font-size: 1.563rem;
            color: $buttonBorder;
            margin-bottom: 20px;
            font-weight: 700;
        }
        li{
            list-style: none;
            margin-bottom: 10px;
        }
        a{
            color: $white;
            font-size: 1.25rem;
            transition: 0.3s ease all;
			&:hover{
				color: $buttonBorder;
			}
        }
    }
    &__cory-right{
        display: flex;
        justify-content: space-between;
        margin-top: 100px;
        border-top: 1px solid $decorColor;
        padding-top: 25px;
        cursor: pointer;
        p{
            font-size: 1.25rem;
        }
        .far.fa-arrow-right{
            color: $buttonBorder;
            font-size: 1rem;
            margin: auto 0 auto 13px;
        }
    }
}