//Header
.header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: $headerHeight;
	.logo2{
		display: none;
	}
	&__menu{
		display: flex;
		align-items: center;
		z-index: 3;
		.button{
			display: none;
			@media (max-width: $md2+px){
				display: block;
				background-color: $buttonBorder;
				text-align: center;
				.fas.fa-arrow-up{
					font-size: 1.8rem;	
				}
			}
		}
		li{
			margin-right: 30px;
			padding: 10px 0;
			&:nth-child(6){
				margin-right: 60px;
				@media (max-width: 1300px){
					margin-right: 30px;
				}
				&::after{
					height: 100%;
					width: 1px;
					content: '';
					background-color: $borderColor;
					position: absolute;
					transform: translate(-50%);
					right: -54%;
    				top: 6%;
					@media (max-width: 1300px){
						right: -39%;
					}
				}
			}
			@media (max-width: 1300px){
				margin-right: 15px;
			}
		}
		& > li{
			position: relative;
		}
		a{
			color: $text;
			display: inline-block;
			font-size: 1.25rem;
			transition: 0.3s ease all;
			&:hover{
				color: $buttonBorder;
			}
			@media (max-width: 1300px){
				font-size: 1rem;
			}	
		}
		@media (max-width: $md2+px) {
			display: block;
			position: fixed;
			overflow-y: auto;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0,0,0,0.9);
			padding: 100px 30px 30px 30px;
			left: -100%;
			transition: left 0.3s ease;
			transform: translateY($headerHeight);
			& > li{
				padding: 0;
				margin-bottom: 30px;
				&:last-child{
					margin-bottom: 0;
				}
			}
			a{
				color: #fff;
				font-size: 2rem;
			}
			&.active{
				left: 0;
			}
		}
	}
	&__logo{
		width: 262px;
		@media (max-width: $md3+px) {
			width: 164px;
		}
	}
}

//Burger
.icon-menu {
	display: none;
	@media (max-width: $md2+px) {
		display: block;
		position: relative;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		margin: auto;
		top: 1px;
		left: 5px;
		span, &:before, &:after{
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0px;
			position: absolute;
			width: 21px;
			height: 1px;
			background-color: $text;
		
		}
		&:before, &:after{
			content : " ";
		}
		&:before {
			top: 0;
			width: 13px;
			left: 6px;
		}
		&:after {
			top: auto;
			bottom: 0px;
			width: 13px;
			left: 3px;
		}
		&.active {
			left: 0;
			span {
				transform: scale(0);
			}
			&:before {
				transform: rotate(-45deg);
				top: calc(50% - 1px);
				width: 100%;
				left: 0;
			}
			&:after {
				transform: rotate(45deg);
				bottom: calc(50% - 1px);
				width: 100%;
				left: 0;
			}
		}
	}
}

.icon-menu-wrapp{
	display: none;
	@media (max-width: $md2+px){
		display: block;
		padding: 15px 10px;
		border: 3px solid $borderColor;
		border-radius: 10px;
		order: 1;
		position: relative;
	}
}

.header-menu-wrapp{
	display: flex;
	justify-content: flex-start;
	position: relative;
}

.button{
	display: flex;
	justify-content: flex-start;
	background: $white;
	font-weight: 700;
	padding: 16px 32px;
	border: 3px solid $buttonBorder;
	border-radius: 10px;
	font-size: 1.25rem;
	transition: .3s ease;
	@media (max-width: 1300px){
		font-size: 1rem;
		img{
			margin: 2px 0 auto 9px;
		}
	}
	cursor: pointer;
	img{
		margin: 4px 0 auto 11px;
		max-width: 13px;
	}
	&:hover{
		color: $white;
		background-color: $buttonBorder;
	}
}

.header-button{
	color: $text;
	@media (max-width: $md2+px){
		margin-right: 40px;
		&::after{
			height: 64%;
			width: 1px;
			content: '';
			background-color: $borderColor;
			position: absolute;
			transform: translate(-50%);
			right: 30%;
			top: 17%;
		}
	}
	@media (max-width: $md4+px){
		display: none;
	}
}
