.mobile-footer{
    display: none;
    padding: 50px 0 50px 0;
    background-color: $text;
    @media (max-width: $md3+px){
        display: block;
    }
    &__content{
        h2{
            color: $white;
            font-size: 1.25rem;
            font-weight: 600;
            max-width: 342px;
        }
        p{
            font-size: 1rem;
            margin-top: 10px;
            color: $white;
            max-width: 342px;
        }
    }
    .spollers-block {
        margin-top: 40px;
        &__item {
            color: $white !important;
            margin: 0px 0px 10px 0px;
            padding: 15px 20px;
            border: 2px solid $spollerBorder;
            border-radius: 10px;
            &:last-child {
                margin: 0px 0px 0px 0px;
            }
        }
        // .spollers-block__title
        &__title {
            color: $buttonBorder;
            cursor: pointer;
            position: relative;
            font-size: 1.25rem;
            font-weight: 700;
            &::before {
                content: "";
                width: 17px;
                background-color: $buttonBorder;
                height: 2px;
                transition: transform 0.3s ease 0s;
                transform: translate(-25%,0) rotate(-133deg);
                position: absolute;
                right: 7px !important;
                top: 50%;
            }
            &::after {
                content: "";
                width: 17px;
                background-color: $buttonBorder;
                height: 2px;
                transition: transform 0.3s ease 0s;
                transform: translate(40%, 0%) rotate(133deg);
                position: absolute;
                right: 7px !important;
                top: 50%;
            }
            &._active {
                &::before {
                    transform: translate(-25%, 0%) rotate(125deg);
                    right: -2px;
                }
                &::after {
                    transform: translate(25%, 0%) rotate(-127deg);
                }
            }
        }
        // .spollers-block__body
        &__body {
            display: none;
            margin-top: 20px;
            li{
                list-style: none;
                margin-bottom: 5px;
            }
            a{
                font-size: 1rem;
                color: $white;
            }
        }
    
    }
    .footer__cory-right{
        margin-top: 40px;
        display: block;
        text-align: center;
        p{
            margin: 0 auto 10px auto;
        }
    }
}